extends header

block content

  style(type="text/css").

    #video_display{
        float:left;
        width:48%;
    }

    #canvas {
        margin-left:10px;
        width: 48%;
        height: 375px;
        background-color: #CCC;
        border: 10px #333 solid;
        float:right;
    }

    #base_64_image{
        width: 150px;
    }

  
  script(type="text/javascript").
  
    $(document).ready(function(){

        function snapshot(idCanvas, idVideo){

            var canvas = document.querySelector(idCanvas)
            var video = document.querySelector(idVideo)

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);

            var uri = canvas.toDataURL("image/jpeg");
            document.querySelector('#base_64_image').innerText = uri
        }

        function recordVoice(idAudio){

            var player = document.getElementById(idAudio);


            var handleSuccess = function(stream) {
                if (window.URL) {
                player.src = window.URL.createObjectURL(stream);
                } else {
                player.src = stream;
                }

                player.play()
            };

            navigator.mediaDevices.getUserMedia({ audio: true, video: { facingMode: { exact: "environment" } } }).then(handleSuccess)

        }

        function initVoiceRecorder(){

            let shouldStop = false;
            let stopped = false;
            const downloadLink = document.getElementById('download');
            const stopButton = document.getElementById('stop');

            stopButton.addEventListener('click', function() {
                shouldStop = true;
                $('#btn_record_v2').val('Gravar voz (Versao 2)')
            })

            var handleSuccess = function(stream) {  

                const options = {mimeType: 'video/webm;codecs=vp9'};
                const recordedChunks = [];
                const mediaRecorder = new MediaRecorder(stream);  


                mediaRecorder.ondataavailable = function(e) {

                    console.log('receiving data ...')
                    if (e.data.size > 0) {
                        recordedChunks.push(e.data);
                    }

                    if(shouldStop === true && stopped === false) {
                        console.log('Stop!')
                        mediaRecorder.stop();
                        stopped = true;
                    }
                }

                mediaRecorder.onerror = function(e){
                    console.log('Error: ' + e);
                };

                mediaRecorder.onstart = function(){
                    console.log('Started, state = ' + mediaRecorder.state);
                };
                
                mediaRecorder.onwarning = function(e){
                    console.log('Warning: ' + e);
                };

                mediaRecorder.onstop = function() {

                    console.log('Voice Recorder Stoped')
                    downloadLink.href = URL.createObjectURL(new Blob(recordedChunks));
                    downloadLink.download = 'acetest.wav';

                    if (window.URL) {
                        player.src = window.URL.createObjectURL(new Blob(recordedChunks));
                    } else {
                        player.src = new Blob(recordedChunks);
                    }

                    //- player.play()
                }

                mediaRecorder.start(10)

            };

             navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(handleSuccess)
        }

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia

        if(navigator.getUserMedia){

            navigator.getUserMedia({video: true},  function (stream){

            var video = document.querySelector("#video_display")
            video.src = window.URL.createObjectURL(stream)

            },  function (err){
                alertify.error('Erro ao recuperar Stream da Webcam')
            })

        }

        $('#btn_take_image').click(function(e){

            e.preventDefault()

            snapshot('#canvas', '#video_display')

        })

        $('#btn_record').click(function(e){

            e.preventDefault()

            recordVoice('player')

        })

        $('#btn_record_v2').click(function(e){

            e.preventDefault()

            initVoiceRecorder()
            
            $(this).val('Gravando ...')
            
        })


        //- $('#frm_upload_doc').submit(function(e){

        //-     e.preventDefault()

        //-     // Recupera os arquivos do input file
        //-     var file = $('#file_doc')[0].files[0]

        //-     if(file == undefined){
        //-         alertify.error('Selecione um arquivo JPEG/TIFF')
        //-     }
        //-     else{

        //-         alertify.success('Iniciando processamento OCR', 10)

        //-         // Monta um objeto FormData com os arquivos
        //-         var formData = new FormData();
        //-         formData.append('file_doc', file);

        //-         $('#ocr_result').text('Processando OCR ...')
                
        //-         // Envia ajax para processar o upload
        //-         var promise = $.ajax({
        //-             url: 'upload_doc',
        //-             type: 'POST',
        //-             data: formData,
        //-             contentType: false,
        //-             enctype: 'multipart/form-data',
        //-             processData: false
        //-         })
                
        //-         promise.then(function (response) {
                        
        //-             $('#ocr_result').text(response)

        //-         })

        //-     }

        //- })
      
    })  

    
  div(class='container')
    h2 Web Html 5 Camera / Audio
    hr
    video(id='video_display' autoplay='true') Não suportado pelo navegador
    canvas(id="canvas" width="500" height="375")
    div(style="clear:both")
    br
    input(type='button' id='btn_take_image' value="Obter Imagem")
    br
    div(id='base_64_image')
    br
    //- input(type="file" accept="audio/*" capture="microphone" id="recorder")
    //- input(type='button' id='btn_record' value='Gravar voz (Versao 1)')
    hr
    input(type='button' id='btn_record_v2' value='Gravar voz (Versao 2)')
    button(id="stop") Stop
    br
    audio(id="player" controls)
    a(id="download") Download Audio